
.Player-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: dashed red;
  margin: 1em;
  padding: 1em;
}

.Noble-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Player-active {
  background-color: greenyellow;
}

.Reserved-cards {
  display: flex;
  flex-direction: row;
}