
.Player-deck {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: 4.5em;
}


.Card-type {
  display: inline-block;
}

.Card-type > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card-img {
  height: 1em;
}
.Card-img > img {
  height: 5em;
}